.idea/*.xml
.idea/*.ids
.idea/libraries
.idea/modules
.idea/inspectionProfiles
.idea/dataSources
.idea/copyright
.idea/.name
!.idea/vcs.xml
!.idea/codeStyleSettings.xml
!.idea/runConfigurations/*
/node/
*.iml
node_modules
.gradle
build
/docs/build
/docs/.cache
/docs/target
.bundle
target/**
shared/src/main/generated-json
shared/src/main/generated-source
private/
shared/npm-debug.*